.header{
    height: 55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(238, 233, 233);
    box-shadow: 0px 1px 1px rgb(233, 228, 228);
    background-color: white;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 22px;
    margin-left:25px;
    margin-right:25px;
}
.youtube-logo{
    height: 22px;
}
.middle-section{
    
    flex:1;
    max-width:500px;
    margin-left:70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}
.search-button{
    height: 41px;
    border-color: rgb(240, 240, 240);
    width:65px;
    border-width:1px;
    border-style: solid;
    border-color: rgb(162, 157, 157);
    margin-left: -1px;
    margin-right: 10px;
    
}
.search-icon{
    height: 20px;
    
}
.search-bar::placeholder{
    font-size: 16px;
    font-family: 'Roboto' ,Arial;
    
}
.voice-search-button{
    height: 41px;
    width: 42px;
    border:none;
    border-radius: 300px; 
    background-color: rgb(240, 240, 240);
}
.voice-icon{
    height: 24px;
}
.right-section{
    width:180px;
    margin-right:20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-shrink:0;    
}
.upload-icon{
    height:26px;
}
.youtube-apps-icon{
    height:26px;
}
.notifications-icon{
    height:26px;
}
.profile-icon{
    height:34px;
    border-radius:16px;
}
.search-bar{
   flex:1;
   height:37px;
   padding-left: 10px;
   font-size:16px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(162, 157, 157);
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.15);
   width:0;
}
.header img:hover{
    cursor:pointer;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position:absolute;
    background-color:gray;
    color:white;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:8px;
    padding-right:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    transition:opacity 0.15s; 
    pointer-events: none;
    white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity:1;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}