.sidebar{
    position:fixed;
    left:0px;
    bottom:0px;
    top:55px;
    background-color: white;
    width:60px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ece6e6;
    z-index:200;
    padding-top:5px;
}
.sidebar-link{
    height:76px;
    margin-bottom:1px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.sidebar-link:hover{
     background-color: rgb(231, 227, 227);
     cursor:pointer;
}
.sidebar-link img{
    height:24px;
    margin-bottom:4px;
}
.sidebar-link div{
    font-family:Roboto,Arial;
    font-size:10px;
}