           
            .thumbnail{
                width: 100%;
               
            }
           
           .thumbnail-row{
                margin-bottom:8px;
                position:relative;
            }
            
            .pfp-img{
                width:36px;
                border-radius:50px;
            } 
            .video-title{
                margin-top: 0%;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 10px;
            }
            .channel_name, .video-stat{
                font-size: 12px;
                color:rgb(96, 96, 96) ;
            }
            .channel_name{
                margin-bottom:4px;
            }
            .video-info-grid{
                display:grid;
                grid-template-columns: 50px 1fr;
            }
            .video-grid{
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
                column-gap:20px;
                row-gap:40px;
            }
            .video-time{
                font-family:Roboto,Arial;
                background-color: black;
                color: white;
                position: absolute;
                bottom:8px;
                right:5px;
                font-size:12px;
                font-weight: 500;
                padding-left:4px;
                padding-right:4px;
                padding-top:4px;
                padding-bottom:4px;
                border-radius: 2px;
            }
            .notifications-icon-container{
                position:relative;
         }
            .notifications-count{
                position:absolute;
                top:-2px;
                right:-3px;
                font-family: Roboto,Arial;
                font-size:11px;
                border-radius:10px;
                background-color:rgb(184, 9, 9);
                color:white;
                padding-top:2px;
                padding-bottom:2px;
                padding-left:5px;
                padding-right:5px;
            }
            @media  (max-width: 750px) {
                
                .video-grid{
                    grid-template-columns:1fr 1fr;
                }
            }
            @media  (min-width: 751px) and (max-width: 999px) {
                .video-grid{
                    grid-template-columns:1fr 1fr 1fr;
                }
            }
             @media  (max-width: 1000px) {
                .video-grid{
                    grid-template-columns:1fr 1fr 1fr;
                }
            }